html, body
{
  min-height: 100%;
}

body
{
  font-family: Inconsolata, Consolas;
  display:block;
}

#wrapper
{
  margin-left: auto;
  margin-right: auto;

  max-width: 50em;
}

#patternBackground
{
  background-image: url("../image/polka-10-10.png");
  height: 100%;
  padding-bottom: 2em;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom:-1em;
}

#navIcons
{
  text-align:center;
}

#hero
{
  text-align: center;
}

#hero h1
{
  font-weight: 900;
}

#content
{
  background-color: lightgray;
}

.navIcon
{
  /*background-color: gray;*/
}

/*FOR WIDE DISPLAYS*/
@media (min-width: 480px)
{
  .navIcon
  {
    width: 20%;
    padding: calc(5% / 4);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: calc(5% / 16);
    margin-right: calc(5% / 16);
    display: inline-block;
    font-size: 2em;
    text-align: center;
  }

  #navIcons
  {
    margin-left: -10%;
    margin-right: -10%;
  }

  #wrapper
  {
    width: 75%;
  }

  #hero
  {
    font-size: 2.5em;
  }

  #content
  {
    padding: 0.5em;
  }
}

/* DESKTOP COMPUTERS */
@media (min-width: 1024px)
{
  #wrapper
  {
    width: 60%;
  }

  .navIcon
  {
    font-size: 2em;
    line-height: 120%;
  }

  #hero
  {
    font-size: 2.7em;
  }

  #content
  {
    padding: 2em;
  }

  #patternBackground
  {
    padding-bottom: 2em;
  }
}

/*FOR THIN DISPLAYS*/
@media (max-width: 480px)
{
  .navIcon
  {
    width: 90%;
    float:none;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
  }

  .navIcon br
  {
    display: none;
  }

  .navIcon i
  {
    margin: 0.25em;
  }

  #wrapper
  {
    width: 80%;
  }

  #content
  {
    padding-left: 10px;
    padding-right: 10px;
  }
}
