body
{
  font-family: 'Lato', sans-serif;
}

h1
{
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.onblock
{
  background-color: #001F3F;
  color: #DDDDDD;
}

.offblock
{
  background-color: #DDDDDD;
  color: #001F3F;
}

.horizontalscroll
{
  white-space:nowrap;
  overflow: auto;
}
.horizontalscrollitem
{
    display:inline-block;
    max-width: 500px;
    white-space: normal;
    vertical-align: middle;
    padding: 10px;
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9, 0.9);
}

.profilepicture
{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30%;
    min-width:200px;
    height: auto;
}

.hero
{
  width: 100%;
  margin-top: -25px;
  margin-bottom: -25px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}
.hero h1
{
  font-size: 3em;
}

.aboutme
{
  width: 100%;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.aboutme img
{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.work
{
  width: 100%;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.job
{
  background-color: #005299;
}

.projects
{
  width: 100%;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.project
{
  background-color: #00B5D9;
}

.getintouch
{
  width: 100%;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: center;
}
.contactblock
{
}

.footer
{
  width: 100%;
  margin-bottom: -25px;
  text-align: center;
  font-size: 0.65em;
  line-height: 140%;
}
