h1
{
  text-align: center;
}

.horizontalscroll
{
  white-space:nowrap;
  overflow: auto;
}
.horizontalscrollitem
{
    display:inline-block;
    max-width: 500px;
    white-space: normal;
    vertical-align: middle;
}

.profilepicture
{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30%;
    min-width:200px;
    height: auto;
}

.hero
{
  width: 100%;
  background-color: #0074D9;
  margin-top: -25px;
  margin-bottom: -25px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}
.hero h1
{
  font-size: 3em;
}

.aboutme
{
  width: 100%;
  background-color: #AAAAAA;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.aboutme img
{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.work
{
  width: 100%;
  background-color: #B10DC9;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.job
{
  background-color: pink;
}

.projects
{
  width: 100%;
  background-color: #2ECC40;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: left;
}
.project
{
  background-color: green;
}

.getintouch
{
  width: 100%;
  background-color: #AAAAAA;
  margin-bottom: -25px;
  padding-bottom: 25px;
  text-align: center;
}
.contactblock
{
  background-color: green;
}

.footer
{
  width: 100%;
  background-color: #0074D9;
  margin-bottom: -25px;
  text-align: center;
  font-size: 0.65em;
  line-height: 140%;
}
